<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <hr>
        <h2>À propos</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-lg-offset-2">
        <p></p>
        <p>Vous êtes sur mon carnet de dessin version digital.</p>
        <p>Vous y trouverez mes croquis, peintures, dessins digitaux etc.</p>
      </div>
      <div class="col-lg-12">
        <p>Si vous avez des questions, n'hésitez pas à utiliser le formulaire contact, ci-dessous. Bien à vous. </p>
        <hr>
      </div>
    </div>
  </div>
</section>
